#h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#outcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px
}